body{
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #778ca3;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 3.1em;
}
nav{
    max-width: 80%;
    margin: 0 auto;
    height: inherit;
}
.logo{
   
}
.nav-link{
    font-weight: 700px;
    font-size: large;
    text-decoration: none;
    color: white;
    float: right;
    padding: 1em 2em 0 1em;
}
#container{
    max-width: 70%;
    margin: 0 auto;
    padding-top: 37vh;
    background-color: red;
    z-index: -1;
    line-height: 0.6;
    height: 60vh;
}
#container > h1{
    font-size: 3.5rem;
}
#container > p{
    font-style: oblique;
}